*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url('https://shorturl.at/tnlDm');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    height: 80vh;
    font-size: small;
    color: antiquewhite;
}
.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: small;
    border-spacing: 10;
}
.contnr{
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 30%;
    background-color: rgb(250, 217, 166);
    border-radius: 25px;
    border-width: 5px rgb(250, 217, 166);
    box-shadow: 0 5px 10px rgba(233, 226, 204, 0.446);
    color: #000000;
    font-style: italic;
}
button:active{
     transform: scale(0.85);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.enter{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.entryarea{
    position: relative; 
}
input{
    position: relative;
    width: 100%;
    outline: none;
    font-size: 2.2em;
    padding: 0 20px;
    line-height: 8px;
    border-radius: 1px;
    border: 0.1px solid ;
    color: rgb(0, 0, 0);
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}
 input:focus{
    color: #fff6b9;
    border: 4px solid #fff6b9;

} 
input:focus + .labelline,
input:valid + .labelline{
    color: #fff6b9;
    border: 4px solid #fff6b9;
    height: 30px;
    line-height: 30px;
    padding: 0 22px;
    transform: translate(-15px,-16px) scale(0.88); 
    z-index: 1111;
}
button{
   position: relative;
   padding: 5px 15px;
   border-radius: 15px;
   color: #fff6b9;
   font-size: 1em;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 0.1em;
   background: rgba(45,45,45,1); 
   transition: 0.5s;
   overflow: hidden; 
}
button:hover{
    color: var(--clr);
    text-shadow: 0 0 15px var(--clr),
    0 0 40px var(--clr);
}
button span{
    position: relative;
    z-index: 1;
}
button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30%, -45%);
    transform: translate();
    width: 200px;
    height: 200px;
    background: radial-gradient(var(--clr), transparent, transparent);
    transition: 0.5s,top 0s,left 0s;
    opacity: 0;
}
button:hover::before{
    opacity: 0.5;
}
button::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: rgba(45,45,45,0.8);
    border-radius: 10px;
}