body{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://shorturl.at/piYuw");
    background-size: cover;
}
h2{
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 15px #fff3e0;
}
h3{
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 15px #fff3e0;
    font-size: larger;
}
.cat{
    box-shadow: 5px 5px 15px #434343;
}
.laugh{
    filter: drop-shadow( 5px 5px 15px #434343);
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    font-size: large;
    border-spacing: 10;
    border-radius: 12px;
    padding: 10px 10px 10px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.707);
    box-shadow: 0 5px 10px rgba(106, 106, 106, 0.446);
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}


